:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-color: #ffffff;
  --bg-text-color: rgba(47, 48, 58, 0.8);
  --bg-footer-color: #2f303a;
  --bg-team-color: #f5f4fa;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --background-social: rgba(255, 255, 255, 0.1);
  --cards-bg-color: rgba(33, 150, 243, 0.9);
  --filter-bg-color: #f5f4fa;
  --cubic-bezier-dafault: cubic-bezier(0.4, 0, 0.2, 1);
  --time-animation: 250ms;
  --bg-color-modal: rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--white-color);
  color: var(--primery-text-color);

  font-family: Roboto;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

/* Header */

.page-header {
  border-bottom: 1px solid #ececec;
}

/* Site nav */

.logo {
  margin-right: 85px;

  color: var(--accent-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__studio {
  color: var(--title-text-color);
}

.site-nav {
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--time-animation) var(--cubic-bezier-dafault);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-text-color);
}

.site-nav__link--current {
  position: relative;
  color: var(--accent-text-color);
}

.site-nav__link--current::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text-color);
}

/* Sing in */

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav__item:not(:last-child) {
  margin-right: 30px;
}

.auth-nav__link--icon {
  margin-right: 10px;
  fill: var(--primery-text-color);
  transition: fill var(--time-animation) var(--cubic-bezier-dafault);
}

.auth-nav__link--phone {
  width: 10px;
  height: 14.94px;
}

.auth-nav__link {
  display: flex;
  align-items: center;
  color: var(--primery-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--time-animation) var(--cubic-bezier-dafault);
}

.auth-nav__link:hover,
.auth-nav__link:focus {
  color: var(--accent-text-color);
}

.auth-nav__link:hover .auth-nav__link--icon,
.auth-nav__link:focus .auth-nav__link--icon {
  fill: var(--accent-text-color);
}

/* Hero */

.hero-section {
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(var(--bg-text-color), var(--bg-text-color)),
    url('../img/header-img.jpg');
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--white-color);
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
  align-items: center;
  min-width: 200px;
  border-radius: 4px;
  border-width: 0;
  text-align: center;
  color: var(--white-color);
  background-color: var(--accent-text-color);

  font-family: Roboto;
}

/* Work */

.work-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work__item--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  background-color: var(--bg-team-color);
  height: 120px;
}

.work__item--sputnik {
  height: 70px;
}

.work__item--time {
  height: 70px;
}

.work__item--comp {
  width: 70px;
}

.work__item--astronaut {
  height: 70px;
}

.work__item {
  width: calc((100% - 90px) / 4);
}

.work {
  display: flex;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.71;
}

.work__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);

  font-weight: 700;
  text-transform: uppercase;
}

.title.main {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

/* employment */

.employment-section {
  padding-top: 94px;
  margin-bottom: 94px;
}

.employment__title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.employment {
  display: flex;
}

.employment__item {
  position: relative;
  width: calc((100% - 60px) / 3);
}

.employment__text {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  text-align: center;

  color: var(--white-color);
  background-color: var(--bg-text-color);

  font-weight: 700;
  text-transform: uppercase;
}

.employment__item:not(:last-child) {
  margin-right: 30px;
}

/* Team */

.team-section {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--bg-team-color);
}

.team__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team {
  display: flex;
}

.team__item {
  padding-bottom: 24px;
  width: calc((100% - 90px) / 4);
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-social {
  margin-left: 32px;
  margin-right: 32px;
  display: flex;
  justify-content: space-between;
}

.team-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color var(--time-animation) var(--cubic-bezier-dafault);
}

.team-social__link--icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill var(--time-animation) var(--cubic-bezier-dafault);
}

.team-social__link:hover,
.team-social__link:focus {
  background-color: var(--accent-text-color);
}

.team-social__link:hover .team-social__link--icon,
.team-social__link:focus .team-social__link--icon {
  fill: var(--white-color);
}

.team__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Clients */

.clients-section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.clients {
  display: flex;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 50px) / 6);
  min-height: 90px;
}

.clients__title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  transition: border-color var(--time-animation) var(--cubic-bezier-dafault);
}

.clients__item--icon {
  fill: var(--primery-text-color);
  transition: fill var(--time-animation) var(--cubic-bezier-dafault);
}

.clients__link:hover,
.clients__link:focus {
  border-color: var(--accent-text-color);
  fill: var(--accent-text-color);
}

.clients__link:hover .clients__item--icon,
.clients__link:focus .clients__item--icon {
  fill: var(--accent-text-color);
}

/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-footer-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

/* Footer Logo */

.footer__logo {
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
}

.footer__studio {
  color: var(--white-color);
}

/* Contact */

.contact__item {
  line-height: 1.71;
}

.contact__item--mail,
.contact__item--phone {
  color: var(--address-text-color);
}

.contact__item--address {
  color: var(--white-color);
}

.contact__item:not(:last-child) {
  margin-bottom: 9px;
}

/* Join */

.join__title {
  margin-bottom: 20px;
  margin-top: 0;

  color: var(--white-color);

  font-weight: 700;
  text-transform: uppercase;
}

.join__social {
  display: flex;
  justify-content: space-between;
}

.join__item:not(:last-child) {
  margin-right: 10px;
}

.join__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-social);
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color var(--time-animation) var(--cubic-bezier-dafault);
}

.join__link:hover,
.join__link:focus {
  background-color: var(--accent-text-color);
}

.join__social--icon {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}

/* Subscribe */

.subscribe {
  color: var(--white-color);
  font-weight: 700;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.subscribe__button {
  display: inline-flex;
}

.subscribe__title {
  margin-top: 0;
  margin-bottom: 20px;
}

.subscribe__input {
  position: relative;
}

.subscribe__input input {
  display: inline-flex;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--bg-footer-color);
}

.subscribe__title--button {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
}

.subscribe__label {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-transform: none;
}

/* Portfolio */

/* Main */

.page-main {
  padding-top: 94px;
  margin-bottom: 94px;
}

/* Filter */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  color: var(--title-text-color);
  background-color: var(--filter-bg-color);
  border-width: 0;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  transition: color var(--time-animation) var(--cubic-bezier-dafault),
    background-color var(--time-animation) var(--cubic-bezier-dafault);
}

.filter__button:hover,
.filter__button:focus {
  color: var(--white-color);
  background-color: var(--accent-text-color);
}

/* Cards */

.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  text-decoration: none;
}

.cards__item:nth-child(3n) {
  margin-right: 0;
}

.cards__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.cards__image {
  margin-bottom: 20px;
}

.cards__link {
  display: block;
  padding-bottom: 20px;
  text-decoration: none;
  transition: box-shadow var(--time-animation) var(--cubic-bezier-dafault);
}

.cards__link:hover,
.cards__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards__title {
  margin-top: 0;
  margin-bottom: 4px;
  margin-left: 24px;
  margin-right: 24px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cards__thumb {
  position: relative;
  overflow: hidden;
}

.cards__thumb::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--cards-bg-color);
  transform: translateY(100%);
  transition: transform var(--time-animation) var(--cubic-bezier-dafault);
}

.cards__description {
  position: absolute;
  display: inline-block;
  top: 63px;
  left: 24px;
  right: 24px;
  transform: translateY(150%);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.56;
  transition: transform var(--time-animation) var(--cubic-bezier-dafault);
}

.cards__link:hover .cards__description,
.cards__link:hover .cards__thumb::before,
.cards__link:focus .cards__description,
.cards__link:focus .cards__thumb::before {
  transform: translateY(0);
}

.cards__category {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 24px;
  margin-right: 24px;
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.87;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  pointer-events: auto;
  background-color: var(--bg-color-modal);
  transition: opacity var(--time-animation) var(--cubic-bezier-dafault);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1) translate(-50%, -50%);
  transition: transform var(--time-animation) var(--cubic-bezier-dafault);
}

.backdrop.is-hidden .modal {
  transform: scale(1.1) translate(-50%, -50%);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal__label {
  display: flex;
  align-items: center;
}

.modal__label--input {
  display: inline-block;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  height: 40px;
}

.modal__label--icon {
  position: absolute;
  left: 19px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--time-animation) var(--cubic-bezier-dafault);
}

.modal__label--text {
  position: absolute;
  display: block;
  left: 42px;
  top: 50%;
  font-size: 16px;
  transform: translate(0, -50%);
  transition: transform var(--time-animation) var(--cubic-bezier-dafault),
    color var(--time-animation) var(--cubic-bezier-dafault);
}

.modal__label:focus-within .modal__label--text {
  transform: translate(-23px, calc(-50% - 29px));
  color: var(--accent-text-color);
}

.modal__label:focus-within .modal__label--icon {
  fill: var(--accent-text-color);
}

.modal__label--input:not(:placeholder-shown) + .modal__label--text {
  transform: translate(-23px, calc(-50% - 29px));
  color: var(--accent-text-color);
}

.modal__label:focus-within .modal__label--input {
  border: 1px solid #2196f3;
}

.modal__comment {
  padding: 12px 16px;
  height: 120px;
  resize: none;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal__comment--text {
  position: absolute;
  display: inline-block;
  left: 16px;
  top: 12px;
  font-size: 16px;
  transition: transform var(--time-animation) var(--cubic-bezier-dafault),
    color var(--time-animation) var(--cubic-bezier-dafault);
}

.modal__label:focus-within .modal__comment--text {
  transform: translateY(-30px);
  color: var(--accent-text-color);
}

.modal__comment:not(:placeholder-shown) + .modal__comment--text {
  transform: translateY(-30px);
  color: var(--accent-text-color);
}

.modal__title {
  display: inline-block;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill var(--time-animation) var(--cubic-bezier-dafault);
}

.modal__close:hover,
.modal__close:focus {
  fill: var(--accent-text-color);
}

.modal__list {
  margin-bottom: 30px;
}

.modal__list--item {
  position: relative;
  letter-spacing: 0.01em;
}

.modal__list--item:not(:last-child) {
  margin-bottom: 28px;
}

.modal__link {
  color: var(--accent-text-color);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__checkbox {
  display: flex;
  align-items: center;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.modal__checkbox--icon {
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: solid 2px var(--title-text-color);
  border-radius: 2px;
  transition: background-color var(--time-animation) var(--cubic-bezier-dafault),
    border-color var(--time-animation) var(--cubic-bezier-dafault),
    background-image var(--time-animation) var(--cubic-bezier-dafault);
}

.checkbox:checked + .modal__checkbox--icon {
  background-color: var(--accent-text-color);
  border-color: var(--accent-text-color);
  background-image: url('../img/icon-check.svg');
  background-size: contain;
  background-origin: border-box;
}

.modal__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
