/* Hero */

.hero-section {
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient($bg-text-color, $bg-text-color),
    url('../img/header-img.jpg');
}

.hero {
  @extend %container;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    color: $white-color;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

/* Work */

.work-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  @extend %container;
}

.work {
  @extend %list;
  display: flex;

  &__text {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.71;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;
    color: $title-text-color;

    font-weight: 700;
    text-transform: uppercase;
  }
}

.work__item {
  width: calc((100% - 90px) / 4);

  &:not(:last-child) {
    margin-right: 30px;
  }

  &--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    background-color: $bg-team-color;
    height: 120px;
  }
}

/* employment */

.employment-section {
  padding-top: 94px;
  margin-bottom: 94px;
}

.employment {
  @extend %list;
  display: flex;

  &__title {
    margin-top: 0px;
    margin-bottom: 50px;
    color: $title-text-color;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }

  &__item {
    position: relative;
    width: calc((100% - 60px) / 3);
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__text {
    position: absolute;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    text-align: center;

    color: $white-color;
    background-color: $bg-text-color;

    font-weight: 700;
    text-transform: uppercase;
  }
}

/* Team */

.team-section {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: $bg-team-color;
}

.team {
  @extend %list;
  display: flex;

  &__title {
    margin-top: 0;
    margin-bottom: 50px;
    color: $title-text-color;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }

  &__item {
    padding-bottom: 24px;
    width: calc((100% - 90px) / 4);
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__name {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }
}

.team-social {
  @extend %list;
  margin-left: 32px;
  margin-right: 32px;
  display: flex;
  justify-content: space-between;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color $time-animation $cubic-bezier-dafault;
  }

  &__link--icon {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
    transition: fill $time-animation $cubic-bezier-dafault;
  }

  &__link:hover,
  &__link:focus {
    background-color: $accent-text-color;
  }

  &__link:hover &__link--icon,
  &__link:focus &__link--icon {
    fill: $white-color;
  }
}

/* Clients */

.clients-section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.clients {
  @extend %list;
  display: flex;

  &__title {
    margin-top: 0px;
    margin-bottom: 50px;
    color: $title-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
}

.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 50px) / 6);
  min-height: 90px;

  &:not(:last-child) {
    margin-right: 30px;
  }

  &--icon {
    fill: $primery-text-color;
    transition: fill $time-animation $cubic-bezier-dafault;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  transition: border-color $time-animation $cubic-bezier-dafault;

  &:hover,
  &:focus {
    border-color: $accent-text-color;
    fill: $accent-text-color;
  }

  &:hover .clients__item--icon,
  &:focus .clients__item--icon {
    fill: $accent-text-color;
  }
}
